@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply text-omdb-gray-dark font-body relative min-h-full;
  }
  h1 {
    @apply font-body font-bold text-2xl;
  }
  h2 {
    @apply font-body font-semibold text-xl;
  }
  .pill {
    @apply rounded-full px-2  font-medium font-body;
  }
  span.movie-info {
    @apply text-omdb-gray-medium font-medium;
  }
  main {
    @apply mb-64;
  }
  footer {
    @apply w-full absolute bottom-0 bg-omdb-gray-dark h-32;
  }

  .view-source {
    position: absolute;
    top: 0;
    right: 0;
  }
  .view-source-arm {
    transform-origin: 130px 106px;
  }

  .view-source:hover .view-source-arm {
    animation: wave 560ms ease-in-out;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }

    20% {
      transform: rotate(-25deg);
    }

    40% {
      transform: rotate(10deg);
    }

    60% {
      transform: rotate(-25deg);
    }

    80% {
      transform: rotate(10deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  @media (max-width: 500px) {
    .view-source:hover .view-source-arm {
      animation: none;
    }

    .view-source:hover .view-source-arm {
      animation: wave 560ms ease-in-out;
    }
  }
}
